/*****************
 * G E N E R A L *
 *****************/

* {
	font-family: Verdana, Geneva, sans-serif;
}

html, body { margin:0px; padding: 0px; background: #ddd; }

a, a:visited {
	color: #1240AB;
}
a:hover {
	color: #4671D5;
	text-decoration: none;
}

.button {
	background: #1240AB;
	background: -webkit-linear-gradient(#6C8CD5 0%, #4671D5 5%, #1240AB 95%, #06266F 100%);
	background: -moz-linear-gradient(	#6C8CD5 0%, #4671D5 5%, #1240AB 95%, #06266F 100%);
	background: -o-linear-gradient(		#6C8CD5 0%, #4671D5 5%, #1240AB 95%, #06266F 100%);
	background: -ms-linear-gradient(	#6C8CD5 0%, #4671D5 5%, #1240AB 95%, #06266F 100%);
	border: 1px solid #333;
	cursor: pointer;
	color: #fff;
}
.button:hover {
	box-shadow: 0px 0px 3px #1240AB;

	background: #2A4480;
	background: -webkit-linear-gradient(#6C8CD5 0%, #4671D5 5%, #2A4480 95%, #06266F 100%);
	background: -moz-linear-gradient(	#6C8CD5 0%, #4671D5 5%, #2A4480 95%, #06266F 100%);
	background: -o-linear-gradient(		#6C8CD5 0%, #4671D5 5%, #2A4480 95%, #06266F 100%);
	background: -ms-linear-gradient(	#6C8CD5 0%, #4671D5 5%, #2A4480 95%, #06266F 100%);
}
.button:active {
	box-shadow: 0px 0px 3px #06266F;
	text-shadow: -1px -1px 0px #000;

	background: #2A4480;
	background: -webkit-linear-gradient(#06266F 0%, #1240AB 5%, #4671D5 95%, #6C8CD5 100%);
	background: -moz-linear-gradient(	#06266F 0%, #1240AB 5%, #4671D5 95%, #6C8CD5 100%);
	background: -o-linear-gradient(		#06266F 0%, #1240AB 5%, #4671D5 95%, #6C8CD5 100%);
	background: -ms-linear-gradient(	#06266F 0%, #1240AB 5%, #4671D5 95%, #6C8CD5 100%);
}

/***************
 * H E A D E R *
 ***************/
#header {
	position: relative;
	height: 182px;
	width: 100%;
	background: #fff;
}
img#logo {
	float:left;
	margin-left: 40px;
}

#header::after {
	display:block;
	width: 100%;
	height: 15px;

	position: absolute;
	top: 100%;
	left: 0px;

	background: rgba(255, 255, 255, 0.5);

	content: " ";
}

#cart{
	position: absolute;
	top: 25px;
	right: 80px;
}
#cart img {
	float:left;
}
#cart span {
	font-size: 24px;
	display: inline-block;
	margin-top: 0.2em;
}
#cart a{
	color: #333;
}

#telephone {
	font-size: 24px;
	bottom: 45px;
	right: 25px;
	position: absolute;
}
#telephone span {
	color: rgb(40, 100, 255);
}

ul#menu {
	display:block;
	clear: left;
	padding: 0px;

	position: absolute;
	right: 0px;
	bottom: 0px;

	width: 100%;
	height: 40px;
	margin:0px;

	background: #ddd;
	background: -webkit-linear-gradient(#fff 0%, #eee 5%, #ccc 95%, #aaa 100%);
	background: -moz-linear-gradient(	#fff 0%, #eee 5%, #ccc 95%, #aaa 100%);
	background: -o-linear-gradient(		#fff 0%, #eee 5%, #ccc 95%, #aaa 100%);
	background: -ms-linear-gradient(	#fff 0%, #eee 5%, #ccc 95%, #aaa 100%);
}

#menu > li {
	float: left;
	height: 40px;
	width: 240px;

	padding: 0px;

	list-style-type: none;
	cursor: pointer;

	text-align: center;
	vertical-align: middle;

	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(0, 0, 0, 0.5);;

	font-size: 24px;
	color: #1240ab;
}
#menu > li:hover{
	background: #1240AB;
	background: -webkit-linear-gradient(#6C8CD5 0%, #4671D5 5%, #1240AB 95%, #06266F 100%);
	background: -moz-linear-gradient(	#6C8CD5 0%, #4671D5 5%, #1240AB 95%, #06266F 100%);
	background: -o-linear-gradient(		#6C8CD5 0%, #4671D5 5%, #1240AB 95%, #06266F 100%);
	background: -ms-linear-gradient(	#6C8CD5 0%, #4671D5 5%, #1240AB 95%, #06266F 100%);

	color: #fff;
}

#menu li { position: relative; padding: 0px; margin: 0px; }

#menu ul {
	display: none;
	list-style: none;
	z-index: 10;
	position: absolute;
	top: calc(100% - 1px);
	left: 0px;

	padding: 0px;
	border: 1px solid #1240AB; border-top-width: 0px;
	background: #fff;

	text-align: left;
	font-size: 20px;
	min-width: calc(100% - 1px);

	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;

	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
}

#menu li:hover > ul {
	display: block;
}

#menu li a {
	display: block;
	margin: 0px;
	padding: 5px 5px 5px 10px;
	width: calc(100% - 15px);

	color: #1240AB;
	text-decoration: none;

	position: relative; /* for ones who has ::after */
}
#menu li ul li:last-child a {
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	border-bottom-right-radius: 9px
}

#menu li:hover > a {
	color: #fff;
}

#menu li ul a:hover {
	background: #6C8CD5;
	background: -webkit-linear-gradient(#6C8CD5, #4671D5);
	background: -moz-linear-gradient(	#6C8CD5, #4671D5);
	background: -o-linear-gradient(		#6C8CD5, #4671D5);
	background: -ms-linear-gradient(	#6C8CD5, #4671D5);
}

#menu li ul a:hover::after {
	display: block; width: 25px; height: 0px; content: ' ';
	position: absolute;
	left: 100%; top: calc(50% - 10px);

	border: transparent 10px solid;
	border-left: 10px solid #1240AB;
}

#menu > li > a {
	padding:0px;
	padding-top: 4px;
	width: 100%;
	height: calc(100% - 4px);
}

#menu > li:first-child{
	margin-left: 30px;
}

#menu > li:last-child {
	border: none;
	float: right;

	padding-top: 0px;
}
#menu > li:last-child:hover {
	background: transparent none;
}

#search {
	background: url(img/search.png) no-repeat 99% 0%;
	border: 1px solid #666;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);

	width: calc(100% - 32px);
	height: 30px;

	padding-right: 32px;
	float: right;
	margin-right: 10px;
	margin-top: 3px;

	font-size: 16pt;
	color: #999;
}
#search:focus {
	color: #333;
}

/*********************************
 * C O N T E N T   S E C T I O N *
 *********************************/
#content {
	background: #fff url(img/fone.png) no-repeat;
	padding-top:30px;
	padding-bottom:40px;
}
#wrapper {
	position: relative;
	width: 1000px;
	margin: 0px auto;

	background-color: white;
	border: 1px solid #CCC;
}
#wrapper h2 {
	font-size: 24px;
	color: #1240AB;
	text-align: center;
	font-weight: normal;

	margin: 20px 25px 30px 25px;
	padding: 0px 10px 10px 10px;

	position: relative;
}
#wrapper h2::after {
	display: block;
	width: 100%;
	height: 1px;
	content: " ";

	position: absolute;
	top: 100%;
	left: 0px;

	background: #1240AB;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.45);
}

/***************
 * F O O T E R *
 ***************/
div#footer {
	background-color: #ddd;
	color: #000;
	font-size: 12px;
	text-align: center;
	padding: 10px;
	margin: 0px;
}
div#line {
	background: #888;
	background: -webkit-linear-gradient(#aaa 0%, #888 15%, #888 85%, #666 100%);
	background: -moz-linear-gradient(	#aaa 0%, #888 15%, #888 85%, #666 100%);
	background: -o-linear-gradient(		#aaa 0%, #888 15%, #888 85%, #666 100%);
	background: -ms-linear-gradient(	#aaa 0%, #888 15%, #888 85%, #666 100%);
	padding: 0px;
	margin: 0px;
}
#socnet{
	padding: 10px;
	margin-left: 45%;
}

/*************************
 * M E S S A G E   B O X *
 *************************/

#msg {
	display: black;

	width: 500px;
	margin: auto;
	margin-top: 150px;

	padding: 10px;
	background: #fff;
	cursor: default;
	border: 1px solid #ddd;
}

#ok_btn {
	width: 80px;
	font-size: 20px;
	padding: 3px;
	text-align: center;

	margin-right: 0px;
	margin-left: auto;
}

#msg h2 {
	margin: -10px;
	margin-bottom: 5px;
	color:  #1240AB;

	background: #ddd;
	background: -webkit-linear-gradient(#fff 0%, #eee 5%, #ccc 95%, #aaa 100%);
	background: -moz-linear-gradient(	#fff 0%, #eee 5%, #ccc 95%, #aaa 100%);
	background: -o-linear-gradient(		#fff 0%, #eee 5%, #ccc 95%, #aaa 100%);
	background: -ms-linear-gradient(	#fff 0%, #eee 5%, #ccc 95%, #aaa 100%);

	padding: 5px;
}

#underlayer {
	display: none;

	position: fixed;
	top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	cursor: wait;
}
#underlayer.active { display: block; animation: fade-in 0.5s 1; }
#underlayer.inactive { animation: fade-out 0.5s 1; }
#underlayer.active #msg { animation: roll-in 0.5s 1; }
#underlayer.inactive #msg { animation: roll-out 0.5s 1; }

@keyframes roll-in {
	from { margin-top: -100%; }
	to { margin-top: 150px; }
}
@keyframes roll-out {
	from { margin-top: 150px; }
	to { margin-top: 100%; }
}
@keyframes fade-in {
	from { background-color: rgba(0, 0, 0, 0.0); }
	to { background-color: rgba(0, 0, 0, 0.4); }
}
@keyframes fade-out {
	from { background-color: rgba(0, 0, 0, 0.4); display: block; }
	to { background-color: rgba(0, 0, 0, 0.0); display: block; }
}
/*******************
 * A S K   F O R M *
 *******************/
#ask {
	border-radius: 10px 0px 0px 0px;
	color:#fff;
	font-size: 13px;
	padding: 15px;
	position: fixed;
	width: 350px;
	height: 270px;
	right:75px;
	bottom: -300px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	
	background: #1240AB;
	background: -webkit-linear-gradient(#1240AB, #06266F);
	background: -moz-linear-gradient(	#1240AB, #06266F);
	background: -o-linear-gradient(		#1240AB, #06266F);
	background: -ms-linear-gradient(	#1240AB, #06266F);
}
#ask input {
	font-size: 16px;
	width: 345px;
	margin:0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#ask textarea {
	font-size: 16px;
	margin:0px;
	width: 345px;
	height: 120px;
	margin-top: 5px;
}
#ask_button {
	padding-top: 6px;
	text-align: center;
	height: 26px;
	margin-top: 7px;
	font-size: 16px;
}

#ask_caption {
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	display:  block;
	position: absolute;
	top:-36px;
	font-size: 20px;
	right: 0px;
	width: 200px;
	height: 30px;
	text-align: center;
	padding-top: 6px;
	border-radius: 10px 10px 0px 0px;
	cursor: pointer;
	
	background: #06266F;
	background: -webkit-linear-gradient(#4671D5, #1240AB);
	background: -moz-linear-gradient(	#4671D5, #1240AB);
	background: -o-linear-gradient(		#4671D5, #1240AB);
	background: -ms-linear-gradient(	#4671D5, #1240AB);
}
#ask_caption:hover {
	background: #4671D5;
	background: -webkit-linear-gradient(#6C8CD5, #1240AB);
	background: -moz-linear-gradient(	#6C8CD5, #1240AB);
	background: -o-linear-gradient(		#6C8CD5, #1240AB);
	background: -ms-linear-gradient(	#6C8CD5, #1240AB);
}
#ask_caption:active {
	background: #1240AB;
	background: -webkit-linear-gradient(#1240AB, #4671D5);
	background: -moz-linear-gradient(	#1240AB, #4671D5);
	background: -o-linear-gradient(		#1240AB, #4671D5);
	background: -ms-linear-gradient(	#1240AB, #4671D5);
}

#ask_caption::after {
	content:  ' ';
	display: block;
	width: 200px;
	height: 7px;
	background: #1240AB;
	position: relative;
	top: 4px;
}

@keyframes slide-out {
	from {bottom: 0%;}
	to {bottom: -300px;}
}
@keyframes slide-in {
	from {bottom: -300px;}
	to {bottom: 0%;}
}
#ask.open {
	animation: slide-in 1s 1;
	bottom: 0px;
}
#ask.close {
	animation: slide-out 1s 1;
}